[project]
name = "backend"
version = "0.1.0"
description = "Add your description here"
readme = "README.md"
requires-python = ">=3.13"
dependencies = [
    "boto3>=1.40.64",
    "langchain-aws>=1.0.0",
    "langgraph>=1.0.2",
    "python-dotenv>=1.2.1",
]
